<section class="wow fadeIn">
  <strong>
    Projects, available on my GitHub
  </strong>
  <br>
  <a class="waves-effect green-text mt-3" routerLinkActive="active" routerLink="ci">Get development builds</a>
</section>

<hr class="my-5">

<section class="text-center">
  <div class="row mb-4 wow fadeIn">
    <spinner *ngIf="this.repos == null" class="spinner-border green-text mx-auto" role="status">
      <span class="sr-only">Loading...</span>
    </spinner>
  </div>
  <!--Repositories from GitHub-->
  <div *ngIf="this.repos != null" class="row mb-4 wow fadeIn text-left">
    <div class="col-lg-6 col-md-12 mb-4" *ngFor="let repo of repos">
      
      <h4>
        <a href="{{ repo.html_url }}" target="_blank" style="color: #0097a7;">
          <i class="fas fa-book mr-2"></i>{{ repo.name }}
        </a>
      </h4>
      <div [ngSwitch]="repo.description">
        <p>
          <span *ngSwitchCase="null" class="mt-2">
            Description not provided.<br>
          </span>
          <span *ngSwitchDefault class="mt-2">
            {{ repo.description }}<br>
          </span>
          <a [routerLink]="['/projects/ci', repo.name]">
            Go to CI
          </a><br>
          <a *ngIf="repo.homepage != null && repo.homepage != ''" href="{{ repo.homepage }}" target="_blank">
            Visit project site
          </a>
        </p>
      </div>

      <div class="row mt-4">
        <div class="ml-3" [ngSwitch]="repo.language">
          <p *ngSwitchCase="null" class="grey-text mt-2">Language not detected.</p>
          <p *ngSwitchDefault class="mt-2" [ngStyle]="{'color': getLanguageColor(repo.language) }">
            <i class="fas fa-circle mr-1"></i>{{ repo.language }}
          </p>
        </div>
        <div class="ml-3 mt-2" *ngIf="repo.stargazers_count != 0">
          <p>{{ repo.stargazers_count }}<i class="fas fa-star ml-1"></i></p>
        </div>
        <div class="ml-3 mt-2" *ngIf="repo.forks_count != 0">
          <p>{{ repo.forks_count }}<i class="fas fa-code-branch ml-1"></i></p>
        </div>
        <div class="ml-3" [ngSwitch]="repo.license">
          <p *ngSwitchCase="null" class="grey-text mt-2">No license detected.</p>
          <p *ngSwitchDefault class="green-text mt-2">
            <i class="fas fa-balance-scale mr-1"></i>{{ repo.license.name }}
          </p>
        </div>
      </div>

      <hr>
      <!--a href="{{ repo.html_url }}" target="_blank">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="color: black;">{{ repo.name }}</h4>
            <license>
              <span *ngIf="repo.license == null" class="badge blue-grey darken-4">No license detected</span>
              <span *ngIf="repo.license != null" class="badge stylish-color-dark">License</span>
              <span *ngIf="repo.license != null" class="badge lime darken-3 dark-text">{{ repo.license.spdx_id }}</span>
            </license>
            <issues>
              <span class="badge special-color ml-1">Issues</span>
              <span *ngIf="repo.open_issues_count == 0" class="badge unique-color">{{ repo.open_issues_count }}</span>
              <span *ngIf="repo.open_issues_count != 0" class="badge red darken-1">{{ repo.open_issues_count }}</span>
            </issues>
            <stars>
              <span class="badge grey darken-3 ml-1">Stars</span>
              <span *ngIf="repo.stargazers_count == 0" class="badge green darken-4">{{ repo.stargazers_count }}</span>
              <span *ngIf="repo.stargazers_count > 0" class="badge orange darken-4">{{ repo.stargazers_count }}</span>
            </stars>
            <lang>
              <span *ngIf="repo.language == null" class="badge blue-grey darken-4 ml-1">Language not detected</span><br>
              <span *ngIf="repo.language != null" class="badge blue-grey darken-2 ml-1">Language</span>
              <span class="badge teal darken-1">{{ repo.language }}</span><br>
            </lang>
            <p *ngIf="repo.description == null" class="card-text mt-2">Description not provided.</p>
            <p *ngIf="repo.description != null" class="card-text mt-2">{{ repo.description }}</p>
          </div>
        </div>
      </a-->
    </div>
  </div>
</section>