<section class="wow fadeIn">
    <strong>
        Developer builds
    </strong><br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb grey lighten-5">
          <li [ngClass]="{'active': this.projectName == null}" class="breadcrumb-item">
              <a (click)="deselectProject()">
                  CI
                </a>
                <i class="fas fa-caret-right mx-2" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu scroller" style="height:auto;" id="projectsSelector">
                    <button class="dropdown-item" *ngFor="let repo of repos" (click)='loadProjectBuilds(this.repo.name)'>
                        {{ repo.name }}
                    </button>
                </div>
            </li>
          <li *ngIf="this.projectName != null" [ngClass]="{'active': this.projectName != null && this.selectedBuild == null}" class="breadcrumb-item">
            <a (click)="deselectBuilds()">
                {{ this.projectName }}
            </a>
            <!--i class="fas fa-caret-right mx-2" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu scroller text-center" style="height:100px; width:20px;" id="buildSelector">
                <a *ngFor="let workflowRun of workflowRuns; index as i" (click)='loadBuild(i)'>
                    #{{ workflowRun.run_number }}<br>
                </a>
            </div-->
          </li>
          <li *ngIf="this.selectedBuild != null" [ngClass]="{'active': this.selectedBuild != null}" class="breadcrumb-item">
              #{{ this.selectedBuild.run_number }}
            </li>
        </ol>
      </nav>
</section>

<hr class="my-5">
  
<section class="text-center">
    <!--Builds from GitHub-->
    <div class="row flex-xl-nowrap mb-4 wow fadeIn">
        <div class="col-md-3 col-sm-4 col-xs-5 w-20 p-2">
            <spinner *ngIf="projectName == null" class="spinner-border text-info mx-auto" role="status">
                <span class="sr-only">Loading...</span>
            </spinner>
            <div *ngIf="workflowRuns != null && workflowRuns['total_count'] != 0" class="p-1 border lime lighten-5">
                <div class="border grey lighten-2 mb-2 p-1" [ngSwitch]="this.workflowRuns[0].conclusion">
                    <h5>  
                        <i class="fas fa-sun" *ngSwitchCase="'success'"></i>
                        <i class="fas fa-cloud-rain" *ngSwitchCase="'failure'"></i>
                        <i class="fas fa-cloud-sun-rain" *ngSwitchDefault></i>
                        Build history
                    </h5>
                </div>
                <div class="scroller">
                    <!--div class="mb-4 active bd-sidenav-active">
                        <button class="btn btn-{{ getColor(workflowRun.conclusion) }}" (click)='loadBuild(i)'>
                            Build#{{ this.builds.total_count - i }}
                        </button>
                    </div-->
                    <a *ngFor="let workflowRun of workflowRuns; index as i" class="{{ getColor(workflowRun.conclusion) }}-text" [ngSwitch]="workflowRun.conclusion" (click)='loadBuild(i)'>

                        <div class="p-2 mt-1">
                            <span style="float: left">
                                <i class="fas fa-check-circle" *ngSwitchCase="'success'"></i>
                                <i class="fas fa-times-circle" *ngSwitchCase="'failure'"></i>
                                <i class="fas fa-cog" *ngSwitchDefault></i>
                                {{ this.builds.total_count - i }}
                            </span>
                            <span style="float: right">
                                {{ getDate(workflowRun.created_at) }}
                            </span><br>
                        </div>
                        
                    </a>
                </div>
            </div>
        </div>
        <!-- Build Info -->
        <div class="col-md-9 col-sm-8 col-xs-7 w-auto p-3" id="buildInfo">
            <div class="col">
                <not-selected *ngIf="projectName == null">
                    Choose a project to show development builds.
                </not-selected>
                <h2 *ngIf="projectName != null">
                    <b id="projectTitle">{{ this.projectName }}</b>
                </h2>
                <br>
                <div *ngIf="builds != null" [ngSwitch]="builds['total_count']">
                    <no-builds *ngSwitchCase="0">
                        Sorry, there are no dev builds available for this project.
                    </no-builds>
                    <builds *ngSwitchDefault>
                        <build-not-selected *ngIf="selectedBuild == null">
                            Please select the build.
                        </build-not-selected>
                        <build-selected *ngIf="selectedBuild != null">
                            <div class="text-left">
                                <div class="row">
                                    <div class="col-lg-8 col-md-7 col-xs-12">
                                        <h3><b>Selected Build: {{ this.selectedBuild.build_number }}</b></h3>
                                    </div>
                                    <div *ngIf="this.downloadLink != null && this.selectedBuild.conclusion == 'success'" class="col-lg-4 col-md-5 col-xs-12">
                                        <a href="{{ this.downloadLink }}" style="color: white;">
                                            <button type="button" class="btn light-green darken-4">Download Build<i class="fas fa-download m-1"></i></button>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <h5 class="{{ getColor(this.selectedBuild.conclusion) }}-text">
                                        <b>
                                        Status
                                        <i class="fas fa-check m-1" *ngIf="this.selectedBuild.conclusion == 'success'"></i>
                                        <i class="fas fa-times m-1" *ngIf="this.selectedBuild.conclusion == 'failure'"></i>
                                        : {{ this.selectedBuild.conclusion }}
                                        </b>
                                    </h5>
                                </div>
                                <div class="row">
                                    <commit>
                                        <b>Commit message<i class="fas fa-code ml-1 mr-1"></i>:</b><p>{{ this.selectedBuild.head_commit.message }}</p>
                                    </commit>
                                </div>
                                <div class="row">
                                    <branch>
                                        <b>Branch<i class="fas fa-code-branch ml-1 mr-1"></i>:</b><p>{{ this.selectedBuild.head_branch }}</p>
                                    </branch>
                                </div>
                                <div class="row">
                                    <div class="border elegant-color-dark text-light" style="width: 100%; height:fit-content;">
                                        <div class="border special-color-dark text-light p-2" style="width: 100%;">
                                            <div class="custom-control custom-switch">
                                                <span style="float: left"><b><i class="fas fa-terminal ml-1 mr-1"></i>Console Log</b></span>
                                                <span style="float: right">
                                                    <input type="checkbox" class="custom-control-input" id="consoleLogSwitch" (change)="showConsoleLog = !showConsoleLog;">
                                                    <label class="custom-control-label" for="consoleLogSwitch">Show</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="p-2" *ngIf="this.steps != null && showConsoleLog">
                                            <jobs *ngFor="let step of this.steps">
                                                <p class="{{ getColor(step.conclusion) }}-text text-monospace">
                                                    <i class="far fa-check-circle mr-1" *ngIf="step.conclusion == 'success'"></i>
                                                    <i class="far fa-times-circle mr-1" *ngIf="step.conclusion == 'failure'"></i>
                                                    {{ step.name }}
                                                </p>

                                            </jobs>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </build-selected>
                    </builds>
                </div>
            </div>
        </div>
    </div>
</section>
