<section class="wow fadeIn">
    <strong>
        Some apps I recommend using on Android devices.
    </strong>
</section>

<hr class="my-5">

<section class="text-center">
    <div class="row mb-4 wow fadeIn">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="view overlay">
                    <img src="https://labs-public-dl.xda-cdn.com/images/b161baf2-831d-4003-b95c-00053504a3fb.jpg" class="card-img-top" alt="">
                    <a href="https://labs.xda-developers.com/store/app/com.mixplorer" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        MiXplorer
                        <img src="https://labs-public-dl.xda-cdn.com/images/137bc806-f19f-4579-8213-f94d9efb93da.png" style="width:30px;">
                    </h4>
                    <p class="card-text">
                        One of the best file explorers for Android.
                    </p>
                    <a href="https://forum.xda-developers.com/showpost.php?p=23109280&postcount=2" target="_blank" class="btn btn-primary btn-md">More on XDA
                        <i class="fas fa-play ml-2"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="view overlay">
                    <img src="https://labs-public-dl.xda-cdn.com/images/41cedbde-0c7b-4799-aa64-6abc092c3c06.png" class="card-img-top" alt="">
                    <a href="https://labs.xda-developers.com/store/app/com.topjohnwu.magisk" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Magisk Manager
                        <img src="https://labs-public-dl.xda-cdn.com/images/9b4e696b-77f2-4f0e-b7a1-2fabf81212d9.png" style="width:30px;">
                    </h4>
                    <p class="card-text">
                        A Magic Mask to Alter Android System Systemless-ly
                    </p>
                    <a href="https://forum.xda-developers.com/apps/magisk/official-magisk-v7-universal-systemless-t3473445" target="_blank" class="btn btn-grey btn-md">
                        More on XDA
                        <i class="fas fa-play ml-2"></i>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="view overlay">
                    <img src="https://labs-public-dl.xda-cdn.com/images/3a2da554-87ef-4abc-8d54-3cdf31514c3b.jpg" class="card-img-top" alt="">
                    <a href="https://play.google.com/store/apps/details?id=org.videolan.vlc" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        VLC Media Player
                        <img src="https://labs-public-dl.xda-cdn.com/images/18fb9f71-8dc7-41f0-ab59-5e97562ff6f0.png" style="width:30px;">
                    </h4>
                    <p class="card-text">
                        Free and open source cross-platform multimedia player.
                    </p>
                    <a href="https://play.google.com/store/apps/details?id=org.videolan.vlc" target="_blank" class="btn btn-orange darken-3 btn-md">
                        More on Play Store
                        <i class="fas fa-play ml-2"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="view overlay">
                    <img src="https://newpipe.schabi.org/img/logo.svg" class="card-img-top mx-auto" style="width: fit-content;" alt="">
                    <a href="https://newpipe.schabi.org" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        NewPipe
                        <img src="https://newpipe.schabi.org/img/logo.svg" style="width:30px;">
                    </h4>
                    <p class="card-text">
                        Free and open source YouTube player alternative.
                    </p>
                    <a href="https://f-droid.org/packages/org.schabi.newpipe/" target="_blank" class="btn btn-red accent-4 btn-md">
                        More on F-Droid
                        <i class="fas fa-play ml-2"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="view overlay">
                    <img src="https://avatars2.githubusercontent.com/u/20455853?s=200&v=4" class="card-img-top mx-auto" style="height: 171px; width: auto;" alt="">
                    <a href="https://adaway.org/" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        AdAway
                        <img src="https://avatars2.githubusercontent.com/u/20455853?s=200&v=4" style="width:30px;">
                    </h4>
                    <p class="card-text">
                        Free and open source adblocker.
                    </p>
                    <a href="https://f-droid.org/packages/org.adaway/" target="_blank" class="btn btn-red darken-4 btn-md">
                        More on F-Droid
                        <i class="fas fa-play ml-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

