
<section class="section" style="background-image:url(https://kde.org/announcements/plasma/5/5.22.0/volma.webp);background-size:cover">
  <div class="container">
    <div id="firefox-window" class="window box" cdkDrag>
      <!-- Title bar start -->
      <div class="title-bar-width">
        <div class="title-bar" cdkDragHandle>
          <div class="mt-1">
            <i class="fa-brands fa-firefox-browser mx-2"></i>
            <span class="logo-description">{{this.title}} - Mozilla Firefox</span>
          </div>
          <div>
            <span class="minimize" (click)="toggleWindow('#firefox-window')">&#8212;</span>
            <span class="maximize" (click)="toggleFullscreen('#firefox-window')">□</span>
            <span class="close" (click)="toggleWindow('#firefox-window',true)">✕</span>
          </div>
        </div>
        <div class="url-bar">
          <i class="fa-solid fa-lock mx-2"></i>
          <span class="domain-name">localhost:4200</span>
          <input class="domain-path" value="{{this.href}}" (keyup.enter)="this.router.navigateByUrl(domainPath.value)"
                 #domainPath/>
        </div>
      </div>
      <div id="main-content" class="has-background-white" style="height: inherit">
        <nav class="navbar has-background-success-dark has-text-light" role="navigation" aria-label="main navigation"
             *ngIf="this.router.url != '/'">
          <div class="navbar-brand">
            <a class="navbar-item" routerLink="home">
              <img src="../assets/img/icon.png" alt="logo">
            </a>

            <a role="button" class="navbar-burger has-text-light" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item has-text-black" routerLink="home">
                Home
              </a>
              <a class="navbar-item has-text-black" routerLink="donate">
                Donate
              </a>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a href="https://www.youtube.com/channel/UCtPiCXgdX4A3UCk-2oYZITw" class="has-text-light mx-2"
                     target="_blank">
                    <i class="fa-brands fa-youtube fa-lg"></i>
                  </a>
                  <a href="https://www.curseforge.com/members/samo_lego/projects/" class="has-text-light mx-2"
                     target="_blank">
                    <i class="fa-solid fa-fire-flame-curved fa-lg"></i>
                  </a>
                  <a href="https://github.com/samolego" class="has-text-light mx-2" target="_blank">
                    <i class="fa-brands fa-github fa-lg"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!-- Content start -->
        <router-outlet>
          <!-- Content -->
        </router-outlet>
      </div>
    </div>
  </div>
</section>
<footer class="footer p-2">
  <div class="content has-text-centered">
    <button class="button is-info cyan">
      <i class="fa-brands fa-windows"></i>
    </button>
    <button id="firefox-window-button" class="button is-dark" (click)="toggleWindow('#firefox-window')">
      <img height="25" width="25"
           src="https://www.mozilla.org/media/protocol/img/logos/firefox/browser/logo.eb1324e44442.svg" alt="firefox"/>
    </button>
    <button class="button is-light">
      <img height="25" width="25"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Windows_Explorer_Icon.svg/512px-Windows_Explorer_Icon.svg.png"
           alt="explorer"/>
    </button>
    <div class="is-align-content-flex-end">{{ this.time | date: 'hh:mm:ss a' }}</div>
  </div>
</footer>
