<!-- Main layout -->
<section class="section" style="background-image:url(https://kde.org/announcements/plasma/5/5.22.0/volma.webp);background-size:cover">
  <div class="container">
    <div id="firefox-window" class="window box slide-in" cdkDrag>
      <!-- Title bar start -->
      <div class="title-bar-width">
        <div class="title-bar" cdkDragHandle>
          <div style="margin-top:5px;">
            <i class="fa-brands fa-firefox-browser mx-2"></i>
            <span class="logo-description">{{this.title}} - Mozilla Firefox</span>
          </div>
          <div>
            <span class="minimize" (click)="toggleWindow('#firefox-window')">&#8212;</span>
            <span class="maximize">□</span>
            <span class="close" (click)="toggleWindow('#firefox-window',true)">✕</span>
          </div>
        </div>
        <div class="url-bar">
          <i class="fa-solid fa-lock mx-2"></i>
          <span class="domain-name">localhost:4200</span>
          <span class="domain-path">{{this.href}}</span>
        </div>
      </div>
      <!-- Content start -->
      <router-outlet>
        <!-- Content -->
      </router-outlet>
    </div>
  </div>
</section>
<footer class="footer p-2">
  <div class="content has-text-centered">
    <button class="button is-info cyan">
      <i class="fa-brands fa-windows"></i>
    </button>
    <button id="firefox-window-button" class="button is-dark" (click)="toggleWindow('#firefox-window')">
      <img height="25" width="25"
           src="https://www.mozilla.org/media/protocol/img/logos/firefox/browser/logo.eb1324e44442.svg" alt="firefox"/>
    </button>
    <button class="button is-light">
      <img height="25" width="25"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Windows_Explorer_Icon.svg/512px-Windows_Explorer_Icon.svg.png"
           alt="explorer"/>
    </button>
    <div class="is-align-content-flex-end">{{ this.time | date: 'hh:mm:ss a' }}</div>
  </div>
</footer>
