<section class="wow fadeIn" id="fakePage" class="animated">
    <h2 class="text-center mb-4" id="pageTitle"></h2>
    <img
        src="https://gamepedia.cursecdn.com/minecraft_gamepedia/thumb/5/51/TNT_JE2_BE2.png/150px-TNT_JE2_BE2.png"
        class="animated fadeInDown float-right">
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore delectus deserunt officia beatae quibusdam, vitae temporibus est quas recusandae eligendi! Repudiandae quam quasi molestias facere praesentium officiis odio hic reprehenderit!
    </p>
    <hr class="my-5">
</section>


<section class="wow fadeIn text-center" style="display: none;" id="e404">
    <strong>
        <p>
            <b>404 Error</b><br>
            Someone blew up this page ... <i class="fas fa-bomb mr-1"></i>
        </p>
        <a routerLink="/home">
            Go back to homepage
        </a>
    </strong>
</section>