<section class="has-background-info has-text-light p-4">
  <!-- Blue screen -->
  <div class="columns is-vcentered">
    <div class="column">
      <p style="font-size: 200px; margin: 100px;">
        :(
      </p>
    </div>
  </div>
  <div class="columns is-vcentered m-3">
    <div class="column">
      <h1 class="is-size-3">
        This site ran into a problem and needs a redirect. We're
        <br>
        not collecting any error info, but we'll redirect it for
        you.
      </h1>
      <br class="m-3">
      <h1 class="is-size-3">
        {{this.counter}} % complete
      </h1>
      <h4 class="is-size-5 mt-3">
        Error code: 404
      </h4>
    </div>
  </div>

</section>

