<section class="wow fadeIn">
    <strong>
        Wow! You have considered donating?
    </strong>
</section>

<hr class="my-5">

<section class="wow fadeIn">
    <div class="row flex-xl-nowrap mb-4 wow fadeIn p-2">
        <strong>Thank you.</strong>
    </div>
    <div class="row flex-xl-nowrap mb-4 wow fadeIn p-2">
        <div class="col-md-6 col-sm-12">
            <p>
                I really appreciate it. You can send your donation to the following BTC<i class="fab fa-bitcoin"></i> address:
            </p>
            <div class="row border elegant-color-dark p-2 ml-2" style="width: fit-content;">
                <span class="align-middle">
                    <i class="fab fa-bitcoin mr-1 yellow-text"></i>
                    <input class="md-form align-middle yellow-text" id="btcAddress" value="3G48MrV4zyXhKjBDk6rZvYnVx8rJcuz8va" style="background-color: #212121; border: 0px;" readonly>
                </span>
                <button type="button" class="btn btn-warning black-text ml-2" (click)="copyBtcAddress()">
                    Copy<i class="far fa-clipboard ml-1"></i>
                </button>
            </div>
            <div class="alert alert-success p-2 mt-2 ml-2" (click)="hideClipboardAlert()" role="alert" id="clipboardCopied" style="display: none; width: fit-content;">
                Copied to clipboard!
                <button type="button" class="btn btn-link ml-1 p-1" (click)="hideClipboardAlert()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>
                QR code for BTC donations:<br>
                <img src="../../assets/img/btc_address.png" class="m-2" style="width: fit-content;">
            </p>
        </div>
        <div class="col-md-2 col-sm-12">
            <p>
                Or use PayPal<i class="fab fa-paypal m-1"></i> instead:
            </p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="W8NZ8FJQDX4SY" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" src="https://www.paypal.com/en_SI/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>
    </div>
</section>