/* Make footer always on bottom */
html, body {
  height: 100%;
  overflow: hidden;
}

section {
  min-height: 100%;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}
