<section class="section">
  <strong>
    Hi! Seems like you want to know something about me?
  </strong>
  <br>
  <strong>I'm samo_lego (aka samolego).</strong>
  <p>
    Welcome to my webpage.<br>
    You can find most stuff that I do here. I like coding, from Minecraft
    mods to websites like this one.<br>
    Minecraft you say? Yep, I also play that block game, usually playing around with
    redstone and game mechanics.<br>
    Navigate through the site and find more info about my work.
  </p>

  <div class="columns has-text-centered">
    <div class="column">
      <img src="../../assets/img/skin2d.png" class="mx-auto">
    </div>
  </div>
</section>
